flow.json
[
    {
        "id": "6ffda2145572bcc2",
        "type": "tab",
        "label": "login-test",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "998b97f5b943c6e9",
        "type": "ui_group",
        "name": "login",
        "tab": "fedb43148d56dfbd",
        "order": 1,
        "disp": true,
        "width": "5",
        "collapse": false,
        "className": ""
    },
    {
        "id": "fedb43148d56dfbd",
        "type": "ui_tab",
        "name": "main_page",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    },
    {
        "id": "fb93414c69449add",
        "type": "ui_group",
        "name": "picture",
        "tab": "fedb43148d56dfbd",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "bed8037407705067",
        "type": "ui_base",
        "theme": {
            "name": "theme-light",
            "lightTheme": {
                "default": "#0094CE",
                "baseColor": "#0094CE",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "darkTheme": {
                "default": "#097479",
                "baseColor": "#097479",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": false
            },
            "customTheme": {
                "name": "Untitled Theme 1",
                "default": "#4B7930",
                "baseColor": "#4B7930",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
            },
            "themeState": {
                "base-color": {
                    "default": "#0094CE",
                    "value": "#0094CE",
                    "edited": false
                },
                "page-titlebar-backgroundColor": {
                    "value": "#0094CE",
                    "edited": false
                },
                "page-backgroundColor": {
                    "value": "#fafafa",
                    "edited": false
                },
                "page-sidebar-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-textColor": {
                    "value": "#1bbfff",
                    "edited": false
                },
                "group-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "widget-textColor": {
                    "value": "#111111",
                    "edited": false
                },
                "widget-backgroundColor": {
                    "value": "#0094ce",
                    "edited": false
                },
                "widget-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "base-font": {
                    "value": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
                }
            },
            "angularTheme": {
                "primary": "indigo",
                "accents": "blue",
                "warn": "red",
                "background": "grey",
                "palette": "light"
            }
        },
        "site": {
            "name": "Node-RED Dashboard",
            "hideToolbar": "false",
            "allowSwipe": "false",
            "lockMenu": "false",
            "allowTempTheme": "true",
            "dateFormat": "DD/MM/YYYY",
            "sizes": {
                "sx": 48,
                "sy": 48,
                "gx": 6,
                "gy": 6,
                "cx": 6,
                "cy": 6,
                "px": 0,
                "py": 0
            }
        }
    },
    {
        "id": "3acc425b3acd4ead",
        "type": "ui_form",
        "z": "6ffda2145572bcc2",
        "name": "",
        "label": "login",
        "group": "998b97f5b943c6e9",
        "order": 1,
        "width": 0,
        "height": 0,
        "options": [
            {
                "label": "UID",
                "value": "uid",
                "type": "text",
                "required": true,
                "rows": null
            },
            {
                "label": "Username",
                "value": "uname",
                "type": "text",
                "required": true,
                "rows": null
            },
            {
                "label": "Password",
                "value": "psw",
                "type": "text",
                "required": true,
                "rows": null
            }
        ],
        "formValue": {
            "uid": "",
            "uname": "",
            "psw": ""
        },
        "payload": "",
        "submit": "submit",
        "cancel": "cancel",
        "topic": "topic",
        "topicType": "msg",
        "splitLayout": "",
        "className": "",
        "x": 630,
        "y": 440,
        "wires": [
            [
                "98fa1efbaed53d10"
            ]
        ]
    },
    {
        "id": "98fa1efbaed53d10",
        "type": "function",
        "z": "6ffda2145572bcc2",
        "name": "function 1",
        "func": "\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 860,
        "y": 440,
        "wires": [
            [
                "aa166e8a71f21cca"
            ]
        ]
    },
    {
        "id": "aa166e8a71f21cca",
        "type": "debug",
        "z": "6ffda2145572bcc2",
        "name": "debug 1",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1040,
        "y": 440,
        "wires": []
    },
    {
        "id": "fcd714c8b94d0914",
        "type": "ui_template",
        "z": "6ffda2145572bcc2",
        "d": true,
        "group": "fb93414c69449add",
        "name": "",
        "order": 1,
        "width": 0,
        "height": 0,
        "format": "<img src=\"\\images\\base-map.jpeg\" />",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": true,
        "templateScope": "local",
        "className": "",
        "x": 640,
        "y": 540,
        "wires": [
            []
        ]
    },
    {
        "id": "4fd71a49a23017bf",
        "type": "function",
        "z": "6ffda2145572bcc2",
        "name": "check-login",
        "func": "msg.payload = 1;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 670,
        "y": 340,
        "wires": [
            [
                "e6b84e751adc4964",
                "d98a3d6dc74bbbef"
            ]
        ]
    },
    {
        "id": "e6b84e751adc4964",
        "type": "switch",
        "z": "6ffda2145572bcc2",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "0",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "1",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 850,
        "y": 340,
        "wires": [
            [
                "902a7f45706875bc"
            ],
            [
                "d65498c9bee78b8f"
            ]
        ]
    },
    {
        "id": "902a7f45706875bc",
        "type": "change",
        "z": "6ffda2145572bcc2",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "{\"group\":{\"hide\":[\"main_page_login\"]}}",
                "tot": "json"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1040,
        "y": 320,
        "wires": [
            [
                "cb3cdca9998169f1",
                "5326a5aa52f10f02"
            ]
        ]
    },
    {
        "id": "d65498c9bee78b8f",
        "type": "change",
        "z": "6ffda2145572bcc2",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "{\"group\":{\"show\":[\"main_page_login\"]}}",
                "tot": "json"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1040,
        "y": 360,
        "wires": [
            [
                "cb3cdca9998169f1",
                "489736aba619a396"
            ]
        ]
    },
    {
        "id": "cb3cdca9998169f1",
        "type": "ui_ui_control",
        "z": "6ffda2145572bcc2",
        "name": "",
        "events": "all",
        "x": 1240,
        "y": 340,
        "wires": [
            []
        ]
    },
    {
        "id": "a3757f2c11c927b3",
        "type": "inject",
        "z": "6ffda2145572bcc2",
        "name": "Started!",
        "props": [
            {
                "p": "topic",
                "v": "Started!",
                "vt": "flow"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "x": 500,
        "y": 340,
        "wires": [
            [
                "4fd71a49a23017bf"
            ]
        ]
    },
    {
        "id": "d98a3d6dc74bbbef",
        "type": "debug",
        "z": "6ffda2145572bcc2",
        "name": "debug 2",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 820,
        "y": 280,
        "wires": []
    },
    {
        "id": "5326a5aa52f10f02",
        "type": "debug",
        "z": "6ffda2145572bcc2",
        "name": "debug 3",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1240,
        "y": 260,
        "wires": []
    },
    {
        "id": "489736aba619a396",
        "type": "debug",
        "z": "6ffda2145572bcc2",
        "name": "debug 4",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1240,
        "y": 420,
        "wires": []
    }
]