flow.json
[
    {
        "id": "6ffda2145572bcc2",
        "type": "tab",
        "label": "login-test",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "998b97f5b943c6e9",
        "type": "ui_group",
        "name": "register",
        "tab": "fedb43148d56dfbd",
        "order": 1,
        "disp": true,
        "width": "5",
        "collapse": true,
        "className": ""
    },
    {
        "id": "fedb43148d56dfbd",
        "type": "ui_tab",
        "name": "main_page",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    },
    {
        "id": "fb93414c69449add",
        "type": "ui_group",
        "name": "picture",
        "tab": "fedb43148d56dfbd",
        "order": 3,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "bed8037407705067",
        "type": "ui_base",
        "theme": {
            "name": "theme-light",
            "lightTheme": {
                "default": "#0094CE",
                "baseColor": "#0094CE",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "darkTheme": {
                "default": "#097479",
                "baseColor": "#097479",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": false
            },
            "customTheme": {
                "name": "Untitled Theme 1",
                "default": "#4B7930",
                "baseColor": "#4B7930",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
            },
            "themeState": {
                "base-color": {
                    "default": "#0094CE",
                    "value": "#0094CE",
                    "edited": false
                },
                "page-titlebar-backgroundColor": {
                    "value": "#0094CE",
                    "edited": false
                },
                "page-backgroundColor": {
                    "value": "#fafafa",
                    "edited": false
                },
                "page-sidebar-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-textColor": {
                    "value": "#1bbfff",
                    "edited": false
                },
                "group-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "widget-textColor": {
                    "value": "#111111",
                    "edited": false
                },
                "widget-backgroundColor": {
                    "value": "#0094ce",
                    "edited": false
                },
                "widget-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "base-font": {
                    "value": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
                }
            },
            "angularTheme": {
                "primary": "indigo",
                "accents": "blue",
                "warn": "red",
                "background": "grey",
                "palette": "light"
            }
        },
        "site": {
            "name": "Node-RED Dashboard",
            "hideToolbar": "false",
            "allowSwipe": "false",
            "lockMenu": "false",
            "allowTempTheme": "true",
            "dateFormat": "DD/MM/YYYY",
            "sizes": {
                "sx": 48,
                "sy": 48,
                "gx": 6,
                "gy": 6,
                "cx": 6,
                "cy": 6,
                "px": 0,
                "py": 0
            }
        }
    },
    {
        "id": "420d8dc2ebec7272",
        "type": "MySQLdatabase",
        "name": "",
        "host": "localhost",
        "port": "3306",
        "db": "quuppa",
        "tz": "",
        "charset": "UTF8"
    },
    {
        "id": "63ea4a96c6c4abb2",
        "type": "ui_group",
        "name": "login",
        "tab": "fedb43148d56dfbd",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "3acc425b3acd4ead",
        "type": "ui_form",
        "z": "6ffda2145572bcc2",
        "name": "",
        "label": "login",
        "group": "63ea4a96c6c4abb2",
        "order": 1,
        "width": 0,
        "height": 0,
        "options": [
            {
                "label": "UID",
                "value": "uid",
                "type": "text",
                "required": true,
                "rows": null
            },
            {
                "label": "Password",
                "value": "psw",
                "type": "text",
                "required": true,
                "rows": null
            }
        ],
        "formValue": {
            "uid": "",
            "psw": ""
        },
        "payload": "",
        "submit": "submit",
        "cancel": "cancel",
        "topic": "topic",
        "topicType": "msg",
        "splitLayout": false,
        "className": "",
        "x": 630,
        "y": 440,
        "wires": [
            [
                "98fa1efbaed53d10"
            ]
        ]
    },
    {
        "id": "98fa1efbaed53d10",
        "type": "function",
        "z": "6ffda2145572bcc2",
        "name": "check login",
        "func": "var obj = msg.payload;\nvar uid = obj.uid;\nvar password = obj.psw;\nmsg.topic = \"SELECT * from users_info WHERE uid = '\" + uid + \"' AND BINARY password = '\" + password + \"';\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 830,
        "y": 440,
        "wires": [
            [
                "d08a0df9f29614c7",
                "74b140133e2feeb3"
            ]
        ]
    },
    {
        "id": "fcd714c8b94d0914",
        "type": "ui_template",
        "z": "6ffda2145572bcc2",
        "group": "fb93414c69449add",
        "name": "",
        "order": 1,
        "width": 0,
        "height": 0,
        "format": "<img src=\"\\images\\base-map.jpeg\" />",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": true,
        "templateScope": "local",
        "className": "",
        "x": 640,
        "y": 580,
        "wires": [
            []
        ]
    },
    {
        "id": "4fd71a49a23017bf",
        "type": "function",
        "z": "6ffda2145572bcc2",
        "name": "check-login",
        "func": "var user = global.get(\"user\");\n\nif (typeof user !== 'undefined') {\n    msg.payload = user;\n} else {\n    msg.payload = null;\n}\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 670,
        "y": 340,
        "wires": [
            [
                "e6b84e751adc4964",
                "d98a3d6dc74bbbef"
            ]
        ]
    },
    {
        "id": "e6b84e751adc4964",
        "type": "switch",
        "z": "6ffda2145572bcc2",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "null"
            },
            {
                "t": "nnull"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 850,
        "y": 340,
        "wires": [
            [
                "902a7f45706875bc",
                "7ba9b51ca6cfcaf0"
            ],
            [
                "d65498c9bee78b8f",
                "8c5265d1ba9542ca"
            ]
        ]
    },
    {
        "id": "902a7f45706875bc",
        "type": "change",
        "z": "6ffda2145572bcc2",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "{\"group\":{\"show\":[\"main_page_login\"]}}",
                "tot": "json"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1460,
        "y": 320,
        "wires": [
            [
                "cb3cdca9998169f1"
            ]
        ]
    },
    {
        "id": "d65498c9bee78b8f",
        "type": "change",
        "z": "6ffda2145572bcc2",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "{\"group\":{\"hide\":[\"main_page_login\"]}}",
                "tot": "json"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1460,
        "y": 360,
        "wires": [
            [
                "cb3cdca9998169f1"
            ]
        ]
    },
    {
        "id": "cb3cdca9998169f1",
        "type": "ui_ui_control",
        "z": "6ffda2145572bcc2",
        "name": "",
        "events": "all",
        "x": 1780,
        "y": 360,
        "wires": [
            []
        ]
    },
    {
        "id": "a3757f2c11c927b3",
        "type": "inject",
        "z": "6ffda2145572bcc2",
        "name": "Started!",
        "props": [
            {
                "p": "topic",
                "v": "Started!",
                "vt": "flow"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "x": 460,
        "y": 340,
        "wires": [
            [
                "4fd71a49a23017bf"
            ]
        ]
    },
    {
        "id": "d98a3d6dc74bbbef",
        "type": "debug",
        "z": "6ffda2145572bcc2",
        "name": "debug 2",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 820,
        "y": 280,
        "wires": []
    },
    {
        "id": "d08a0df9f29614c7",
        "type": "mysql",
        "z": "6ffda2145572bcc2",
        "mydb": "420d8dc2ebec7272",
        "name": "",
        "x": 1040,
        "y": 440,
        "wires": [
            [
                "d5bbcacf05aaf294"
            ]
        ]
    },
    {
        "id": "74b140133e2feeb3",
        "type": "debug",
        "z": "6ffda2145572bcc2",
        "name": "debug 5",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1040,
        "y": 500,
        "wires": []
    },
    {
        "id": "d5bbcacf05aaf294",
        "type": "function",
        "z": "6ffda2145572bcc2",
        "name": "login success",
        "func": "var obj = msg.payload;\nif(Object.keys(obj).length === 0) {   \n    msg.payload = null; \n    } else {\n        msg.payload = obj;\n        global.set(\"user\", \"112\")\n        } \nreturn msg;\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1260,
        "y": 520,
        "wires": [
            [
                "1390089d1973a253",
                "e150d4d1db575ef6"
            ]
        ]
    },
    {
        "id": "1390089d1973a253",
        "type": "switch",
        "z": "6ffda2145572bcc2",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "null"
            },
            {
                "t": "nnull"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 1450,
        "y": 520,
        "wires": [
            [
                "7ba9b51ca6cfcaf0",
                "902a7f45706875bc"
            ],
            [
                "d65498c9bee78b8f",
                "8c5265d1ba9542ca"
            ]
        ]
    },
    {
        "id": "7ba9b51ca6cfcaf0",
        "type": "change",
        "z": "6ffda2145572bcc2",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "{\"group\":{\"hide\":[\"main_page_picture\"]}}",
                "tot": "json"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1460,
        "y": 280,
        "wires": [
            [
                "cb3cdca9998169f1"
            ]
        ]
    },
    {
        "id": "8c5265d1ba9542ca",
        "type": "change",
        "z": "6ffda2145572bcc2",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "{\"group\":{\"show\":[\"main_page_picture\"]}}",
                "tot": "json"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1460,
        "y": 400,
        "wires": [
            [
                "cb3cdca9998169f1"
            ]
        ]
    },
    {
        "id": "f47c627ca2b98938",
        "type": "ui_form",
        "z": "6ffda2145572bcc2",
        "d": true,
        "name": "",
        "label": "register",
        "group": "998b97f5b943c6e9",
        "order": 1,
        "width": 0,
        "height": 0,
        "options": [
            {
                "label": "UID",
                "value": "uis",
                "type": "text",
                "required": true,
                "rows": null
            },
            {
                "label": "User",
                "value": "uname",
                "type": "text",
                "required": true,
                "rows": null
            },
            {
                "label": "Password",
                "value": "psw",
                "type": "text",
                "required": true,
                "rows": null
            }
        ],
        "formValue": {
            "uis": "",
            "uname": "",
            "psw": ""
        },
        "payload": "",
        "submit": "submit",
        "cancel": "",
        "topic": "topic",
        "topicType": "msg",
        "splitLayout": "",
        "className": "",
        "x": 640,
        "y": 500,
        "wires": [
            []
        ]
    },
    {
        "id": "6d864c5ddc47f2d4",
        "type": "ui_button",
        "z": "6ffda2145572bcc2",
        "d": true,
        "name": "",
        "group": "998b97f5b943c6e9",
        "order": 1,
        "width": "4",
        "height": "1",
        "passthru": false,
        "label": "button",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 630,
        "y": 540,
        "wires": [
            []
        ]
    },
    {
        "id": "e150d4d1db575ef6",
        "type": "debug",
        "z": "6ffda2145572bcc2",
        "name": "debug 6",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1440,
        "y": 600,
        "wires": []
    },
    {
        "id": "cb088fd27c6f2633",
        "type": "ui_button",
        "z": "6ffda2145572bcc2",
        "name": "",
        "group": "fb93414c69449add",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "logout",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "1",
        "payloadType": "num",
        "topic": "topic",
        "topicType": "msg",
        "x": 630,
        "y": 660,
        "wires": [
            [
                "297211d0ef29b7f6"
            ]
        ]
    },
    {
        "id": "297211d0ef29b7f6",
        "type": "change",
        "z": "6ffda2145572bcc2",
        "name": "",
        "rules": [
            {
                "t": "delete",
                "p": "user",
                "pt": "global"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 810,
        "y": 660,
        "wires": [
            [
                "4fd71a49a23017bf"
            ]
        ]
    }
]